/* Site Wide */
.main_Navigation {
    padding: 8px;
    font-size: 1.5vw;
    text-align: center;
    a:link {
        color: #FFB000;
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: #FFB000;
        background-color: transparent;
        text-decoration: none;  
    }
    a:hover {
        color: #FFB000;
        background-color: transparent;
        text-decoration: underline;
    }
    a:active {
        color: #FFB000;
        background-color: transparent;
        text-decoration: underline;
    }
}

body {
    background-color: black;
    color: #FFB000;
    font-family: monospace;
    /* text-shadow: 0 0 5px #FFB000; */
}

hr {
    color: #FFB000;
    width: 100%;
}

/* index.html */
.main_Header {
    border: solid;
    color: #FFB000;
    text-align: center;
    font-size: large;
    pre {
      font-size: 1vw;
    }
}
.world_Map {
    text-align: center;
    color: #FFB000;
    border: solid;
    padding: 8px;
    font-size: 1vw;
}

/* contents.html */
.contents_Header {
    border: solid;
    color: #FFB000;
    text-align: center;
    font-size: large;
    pre {
        font-size: 1vw;
    }
}

/* lore */
.lore_Header {
    border: solid;
    color: #FFB000;
    text-align: center;
    font-size: large;
    pre {
      font-size: 1vw;
    }
}

.lore {
    font-size: large;
}

p {
    text-indent: 24px;
}

/* calendar.html */
.calendar_Header {
    border: solid;
    color: #FFB000;
    text-align: center;
    font-size: large;
    pre {
        font-size: 1vw;
    }
}
.calendar {
    border: solid;
    color: #FFB000;
    padding: 8px;
    table {
        border: 1px solid #FFB000;
        width: 100%;
        font-size: medium;
    }

    td {
        width: 12.5%;
        border: 1px solid #FFB000;
        border-top: none;
        border-bottom: none;
    }
    th {
        font-size: large;
        width: 12.5%;
        border: 1px solid #FFB000;
        border-top: none;
    }

    h1 {
        text-align: center;
    }
}

/* settlments */
.settlements_Header {
    border: solid;
    color: #FFB000;
    text-align: center;
    font-size: large;
    pre {
        font-size: 1vw;
    }
}

.settelments {
    border: solid;
    color: #FFB000;
    font-size: large;
    padding: 8px;
    hr {
        color: #FFB000;
        width: 100%;
    }
}